.App {
  text-align: center;
}

.App-logo {
  height: 300px;
  border-radius: 50%
}

.bening{
  font-size: 18px;
  margin-top: -6px;
}

.social-logo{
  height:70px;
  display: inline-block;
  margin: 10px 20px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  font-family: 'Courier New', Courier, monospace
}